<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>แบบประเมินความเสี่ยงต่อการเป็นโรคหัวใจ</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!--	="{{ url_for('static', filename = 'css/styles.css') }}-->
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300;700&family=Krub:wght@200&family=Prompt:wght@300&display=swap"
		rel="stylesheet">
</head>

<body>
	<!-- <div class="page-content" style="background-image: url('images/wizard-v2-bg.jpg')"> -->
	<div class="page-content">
		<div class="wizard-v2-content">
			<div class="wizard-image">
			</div>
			<div class="wizard-form">
				<div class="wizard-header">
					<h4>แบบประเมินความเสี่ยงต่อการเป็นโรคหัวใจ</h4>
					<small>การแปลผลจากคะแนน</small>
					<small>คะแนน = 0 : พบว่า คุณไม่มีความเสี่ยง “โรคเส้นเลือดหัวใจ”</small><br>
					<small>คะแนนมากกว่า 2 ขึ้นไป : พบว่า มีความเสี่ยงโรคเส้นเลือดหัวใจ
						และเกณฑ์ความเสี่ยงจะเพิ่มสูงขึ้นตามจำนวนคะแนน ที่เพิ่มขึ้นของคุณ
						แนะนำให้ปรึกษาแพทย์ผู้เชี่ยวชาญ</small>
				</div>
				<form class="form-register" action="{{url_for('signupForm')}}" method="GET">

					<div class="progressbar">
						<div class="progress" id="progress"></div>

						<div class="progress-step progress-step-active" data-title=""></div>
						<div class="progress-step" data-title=""></div>
						<div class="progress-step" data-title=""></div>
						<div class="progress-step" data-title=""></div>
					</div>

					<style>
						
					</style>
					<div class="form-step form-step-active">
						<div class="input-group">
							<label >ชื่อ - นามสกุล</label>
							<input type="text" name="fname" id="" class=""/>
						</div>

						<div class="">
							
							<a href="#" class="btn btn-next width-50 ml-auto">ต่อไป</a>
						</div>
					</div>
					<div class="form-step">

						<div class="input-group">

							<section>
								<div class="inner">
									<div class="form-row ">
										<div class="container">
											<div class="row">
												<style>
													table,
													td {

														margin-left: auto;
														margin-right: auto;
														border-collapse: collapse;
														width: 630px;
														text-align: center;
														font-size: 13px;
														font-family: 'IBM Plex Sans Thai', sans-serif;
														font-family: 'Krub', sans-serif;
														font-family: 'Prompt', sans-serif;



													}

													.col-2 {
														border: 1px dashed black;
														height: 50%;
														width: 100%;
														padding: 5px;
														width: 50%;
														min-width: 200px;
														float: left;
														font-size: 12px;
													}
												</style>
												<table class="table">
													<h4>Sex : เพศสภาพ</h4>
													<thead>
														<tr>
															<th scope="col"></th>
															<th scope="col"></th>


														</tr>
													</thead>
													<tbody>
														<tr>
															<td style="text-align: left;" ><input type="checkbox" class="css_data_item7" id="vehicle1" name="Sex" value="Male">
																<label for=""> ชาย</label>
															</td>
															<td style="text-align: left;"><input type="checkbox" class="css_data_item7" id="vehicle1" name="Sex" value="Female">
																<label for=""> หญิง</label><br>
	
															</td>

														</tr>
													</tbody>
												</table>


											</div>

											<table class="table">
												<h4>AgeGategory : กลุ่มอายุ</h4>
												<thead>
													<tr>
														<th scope="col"></th>
														<th scope="col"></th>
														<th scope="col"></th>
														<th scope="col"></th>
														<th scope="col"></th>
														<th scope="col"></th>
														<th scope="col"></th>
														<th scope="col"></th>
														<th scope="col"></th>
														<th scope="col"></th>
														<th scope="col"></th>

														<th scope="col" style="text-align: center;"></th>

													</tr>
												</thead>
												<tbody>
													<tr>
														<td style="text-align: left;"><input type="checkbox" class="css_data_item8" id="vehicle1" name="AgeCategory" value="18-24">
															<label for="vehicle1"> 18-24</label></td>
														<td style="text-align: left;"><label for="vehicle1"> 
															<input type="checkbox" class="css_data_item8" id="vehicle1" name="vehicle1" value="25-29">
															<label for="vehicle1"> 25-29</label></label></td>
														<td style="text-align: left;"><input type="checkbox" class="css_data_item8" id="vehicle1" name="AgeCategory" value="30-34">
															<label for="vehicle1"> 30-34</label>
														</td>
														<td style="text-align: left;"><input type="checkbox" class="css_data_item8" id="vehicle1" name="AgeCategory" value="35-39">
															<label for="vehicle1"> 35-39</label>
														</td>
														<td style="text-align: left;"><input type="checkbox" class="css_data_item8" id="vehicle1" name="AgeCategory" value="40-44">
															<label for="vehicle1"> 40-44</label>
														</td>
														<td style="text-align: left;"><input type="checkbox" class="css_data_item8" id="vehicle1" name="AgeCategory" value="45-49">
															<label for="vehicle1"> 45-49</label>
														</td>
														<td style="text-align: left;"><input type="checkbox" class="css_data_item8" id="vehicle1" name="AgeCategory" value="50-54">
															<label for="vehicle1"> 50-54</label>
														</td>
													</tr>	
													<tr>
														<td style="text-align: left;"><input type="checkbox" class="css_data_item8" id="vehicle1" name="AgeCategory" value="55-59">
															<label for="vehicle1"> 55-59</label>
														</td>
														<td style="text-align: left;"><input type="checkbox" class="css_data_item8" id="vehicle1" name="AgeCategory" value="60-64">
															<label for="vehicle1"> 60-64</label>
														</td>
														<td style="text-align: left;"><input type="checkbox" class="css_data_item8" id="vehicle1" name="AgeCategory" value="65-69">
															<label for="vehicle1"> 65-69</label>
														</td>
														<td style="text-align: left;"><input type="checkbox" class="css_data_item8" id="vehicle1" name="AgeCategory" value="70-74">
															<label for="vehicle1"> 70-74</label>
														</td>
														<td style="text-align: left;"><input type="checkbox" class="css_data_item8" id="vehicle1" name="AgeCategory" value="75-79">
															<label for="vehicle1"> 75-79</label>
														</td>
														<td style="text-align: left;"><input type="checkbox" class="css_data_item8" id="vehicle1" name="AgeCategory" value="80+">
															<label for="vehicle1"> 80 ขึ้นไป</label>
														</td>
														<td></td>
													
													</tr>



												</tbody>
											</table>


											<!-- <table class="table">
												<h4>Race : เชื้อชาติ</h4>
												<thead>
													<tr>
														<th scope="col"></th>
														<th scope="col"></th>
														<th scope="col"></th>
														<th scope="col"></th>
														<th scope="col"></th>
														<th scope="col"></th>
														<th scope="col"></th>
														<th scope="col"></th>
														<th scope="col"></th>
														<th scope="col"></th>
														<th scope="col"></th>

														<th scope="col" style="text-align: center;"></th>

													</tr>
												</thead>
												<tbody>

													<tr>
														<td style="text-align: left;"><input type="checkbox"
																class="css_data_item9" id="vehicle1" name="vehicle1"
																value="1">
															<label for="vehicle1"> American lndian/Alashan
																Native</label>
														</td>
														<td style="text-align: left;"><input type="checkbox"
																class="css_data_item9" id="vehicle1" name="vehicle1"
																value="1">
															<label for="vehicle1"> Asian</label>
														</td>
														<td style="text-align: left;"><input type="checkbox"
																class="css_data_item9" id="vehicle1" name="vehicle1"
																value="1">
															<label for="vehicle1"> Black</label>
														</td>
													</tr>
													<tr>
														<td style="text-align: left;"><input type="checkbox"
																class="css_data_item9" id="vehicle1" name="vehicle1"
																value="2">
															<label for="vehicle1"> Hispanic</label>
														</td>
														<td style="text-align: left;"><input type="checkbox"
																class="css_data_item9" id="vehicle1" name="vehicle1"
																value="3">
															<label for="vehicle1"> white</label>
														</td>
														<td style="text-align: left;"><input type="checkbox"
																class="css_data_item9" id="vehicle1" name="vehicle1"
																value="4">
															<label for="vehicle1"> Other</label>
														</td>

													</tr>


												</tbody>
											</table> -->
										</div>
									</div>
								</div>
							</section>

						</div>
						<div class="btns-group">
							<a href="#" class="btn btn-prev">ก่อนหน้านี้</a>
							<a href="#" class="btn btn-next">ต่อไป</a>
						</div>
					</div>



					<div class="form-step">

						<div class="input-group">

							<div class="inner">
								<div class="form-row">

									<div class="container">
										<div class="row">
											<style>
												table,
												td {

													margin-left: auto;
													margin-right: auto;
													border-collapse: collapse;
													width: 630px;
													text-align: center;
													font-size: 13px;
													font-family: 'IBM Plex Sans Thai', sans-serif;
													font-family: 'Krub', sans-serif;
													font-family: 'Prompt', sans-serif;



												}

												.col-2 {
													border: 1px dashed black;
													height: 50%;
													width: 100%;
													padding: 5px;
													width: 50%;
													min-width: 200px;
													float: left;
													font-size: 12px;
												}
											</style>
											<table class="table">
												<thead>
													<tr>
														<th scope="col"></th>
														<th scope="col" width="50%"></th>
														<th scope="col"></th>
														<th scope="col"></th>
														<th scope="col"></th>
														<th scope="col"></th>
														<th scope="col" style="text-align: center;"></th>

													</tr>
												</thead>
												<tbody>
													<tr>
														<th scope="row">1. </th>
														<td style="text-align: left;">BML: ค่าดัชนีมวลการ</td>
														<td colspan="5"><input class="col-2" name="BMI" placeholder=""
																type="text"></td>
					
													</tr>
													
													<tr>
														<th scope="row">2. </th>
														<td style="text-align: left;">PhysicalHealth : ระดับสุขภาพทางกาย
														</td>
														<td colspan="5"><input class="col-2" name="PhysicalHealth" placeholder=""
															type="text"></td>
													</tr>
													<tr>
														<th scope="row">3. </th>
														<td style="text-align: left;">MentalHealth : ระดับสุขภาพทางจิต
														</td>
														<td colspan="5"><input class="col-2" name="MentalHealth" placeholder=""
															type="text"></td>
													</tr>
													
													<tr>
														<th scope="row">4. </th>
														<td style="text-align: left;">SleepTime : เวลาในการนอน</td>
														<td colspan="5"><input class="col-2" name="SleepTime" placeholder=""
															type="text"></td>
													</tr>
												
												</tbody>
											</table>
										</div>
										<div class="row">
											<div class="col-lg-12">
												<div class="hr"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>


						<div class="btns-group">
							<a href="#" class="btn btn-prev">ก่อนหน้านี้</a>
							<a href="#" class="btn btn-next">ต่อไป</a>
						</div>
					</div>



					<div class="form-step">
						
						<div class="input-group">
							<div class="inner">
								<div class="container">
									<div class="row">
										<style>
											table,
											td {

												margin-left: auto;
												margin-right: auto;
												border-collapse: collapse;
												width: 630px;
												text-align: center;
												font-size: 13px;
												font-family: 'IBM Plex Sans Thai', sans-serif;
												font-family: 'Krub', sans-serif;
												font-family: 'Prompt', sans-serif;



											}

											.col-2 {
												border: 1px dashed black;
												height: 50%;
												width: 100%;
												padding: 5px;
												width: 50%;
												min-width: 200px;
												float: left;
												font-size: 12px;
											}
										</style>
										<table class="table">
											<thead>
												<tr>
													<th scope="col"></th>
													<th scope="col" style="text-align: left;" width="50%">รายการ</th>
													<th scope="col">ใช่</th>
													<th scope="col">ไม่ใช่</th>
						
												</tr>
											</thead>
											<tbody>
												<tr>
													<th scope="row">5. </th>
													<td style="text-align: left;"> smoking : เคยสูบบุหรี่หรือไม่</td>
													<td><input type="checkbox" class="css_data_item1" id="smoking1" name="Smoking" value="Yes">
													</td>
													<td><input type="checkbox" class="css_data_item1" id="smoking2" name="Smoking" value="No">
													</td>
												</tr>
												<tr>
													<th scope="row">6. </th>
													<td style="text-align: left;"> AlcoholDrinking : ดื่มแอลกอฮอล์หรือไม่</td>
													<td><input type="checkbox" class="css_data_item2" id="AlcoholDrinking1" name="AlcoholDrinking" value="Yes">
													</td>
													<td><input type="checkbox" class="css_data_item2" id="AlcoholDrinking2" name="AlcoholDrinking" value="No">
													</td>
												</tr>
												<tr>
													<th scope="row">7. </th>
													<td style="text-align: left;"> Stroke : เป็นโรคหลอดเลือดสอมงหรือไม่</td>
													<td><input type="checkbox" class="css_data_item3" id="vehicle1" name="Stroke" value="Yes">
													</td>
													<td><input type="checkbox" class="css_data_item3" id="vehicle1" name="Stroke" value="No">
													</td>
												</tr>
												<tr>
												<tr>
													<th scope="row">8. </th>
													<td style="text-align: left;"> DiffWalking : มีปัญหาในการเดินหรือไม่</td>
													<td><input type="checkbox" class="css_data_item6" id="DiffWalking1" name="DiffWalking" value="Yes">
													</td>
													<td><input type="checkbox" class="css_data_item6" id="DiffWalking2" name="DiffWalking" value="No">
													</td>
												</tr>
												<tr>
													<th scope="row">9. </th>
													<td style="text-align: left;"> Asthma : เป็นโรคหอบหืดหรือไม่</td>
													<td><input type="checkbox" class="css_data_item14" id="Asthma1" name="Asthma" value="Yes">
													</td>
													<td><input type="checkbox" class="css_data_item14" id="Asthma2" name="Asthma" value="No">
													</td>
													
												</tr>
												<tr>
													<th scope="row">10. </th>
													<td style="text-align: left;"> KidneyDisease : เป็นโรคไตหรือไม่</td>
													<td><input type="checkbox" class="css_data_item15" id="KidneyDisease1" name="KidneyDisease" value="Yes">
													</td>
													<td><input type="checkbox" class="css_data_item15" id="KidneyDisease2" name="KidneyDisease" value="No">
													</td>
												</tr>
												<tr>
													<th scope="row">11. </th>
													<td style="text-align: left;"> SkinCancer ; เป็นโรคมะเร็งผิวหนังหรือไม่</td>
													<td><input type="checkbox" class="css_data_item16" id="SkinCancer1" name="SkinCancer" value="Yes">
													</td>
													<td><input type="checkbox" class="css_data_item16" id="SkinCancer2" name="SkinCancer" value="No">
													</td>
												</tr>
												<tr>
													<th scope="row">13. </th>
													<td style="text-align: left;"> Diabetic : เป็นโรคเบาหวานหรือไม่</td>
													<td><input type="checkbox" class="css_data_item10" id="Diabetic1" name="Diabetic" value="Yes">
													</td>
													<td><input type="checkbox" class="css_data_item10" id="Diabetic2" name="Diabetic" value="No">
													</td>
												</tr>
												<tr>
													<th scope="row">14. </th>
													<td style="text-align: left;"> PhysicalActivity : ออกกำลังกายใน 30 วันที่ผ่านมาหรือไม่</td>
													<td><input type="checkbox" class="css_data_item11" id="PhysicalActivity1" name="PhysicalActivity" value="Yes">
													</td>
													<td><input type="checkbox" class="css_data_item11" id="PhysicalActivity2" name="PhysicalActivity" value="No">
													</td>
												
												</tr>
											</tbody>
										</table>
										<br>

										<table class="table">
											<thead>
												<tr>
													<th scope="col"></th>
													<th scope="col" style="text-align: left;"  width="50%">รายการ</th>
													<th scope="col">มากที่สุด</th>
													<th scope="col">มาก</th>
													<th scope="col">ปานกลาง</th>
													<th scope="col">น้อย</th>
													<th scope="col" style="text-align: center;">น้อยที่สุด</th>
						
												</tr>
											</thead>
											<tbody>
											
											
												<tr>
													<th scope="row">15. </th>
													<td style="text-align: left;"> GenHealth : ระดับสุขภาพโดยรวม</td>
													<td><input type="checkbox" class="css_data_item12" id="GenHealth" name="health" value="4">
													</td>
													<td><input type="checkbox" class="css_data_item12" id="GenHealth" name="health" value="3">
													</td>
													<td><input type="checkbox" class="css_data_item12" id="GenHealth" name="health" value="2">
													</td>
													<td><input type="checkbox" class="css_data_item12" id="GenHealth" name="health" value="1">
													</td>
													<td><input type="checkbox" class="css_data_item12" id="GenHealth" name="health" value="0">
													</td>
												</tr>
											
						
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						<div class="btns-group">
							<a href="#" class="btn btn-prev">ก่อนหน้านี้</a>
							<a href="thankyou.html"type="submit" value="Submit" class="btn" >เสร็จสิ้น</a>
							<!-- <input type="submit" value="Submit" class="btn"> -->
						</div>
					</div>



				
				</form>
			</div>
		</div>
	</div>
	<script src="{{ url_for('static', filename = 'js/jquery-3.3.1.min.js')}}"></script>
	<script src="{{ url_for('static', filename = 'js/jquery.steps.js')}}"></script>
<!--	{{ url_for('static', filename = 'css/styles.css') }}-->
	<script src="{{ url_for('static', filename = 'js/main.js')}}"></script>
	<script src="{{ url_for('static', filename = 'js/script.js')}}"></script>

	<script type="text/javascript">
		$(function () {

			$(".css_data_item").click(function () {  // เมื่อคลิก checkbox  ใดๆ  
				if ($(this).prop("checked") == true) { // ตรวจสอบ property  การ ของ   
					var indexObj = $(this).index(".css_data_item"); //   
					$(".css_data_item").not(":eq(" + indexObj + ")").prop("checked", false); // ยกเลิกการคลิก รายการอื่น  
				}
			});
		});  
	</script>
	<script type="text/javascript">
		$(function () {

			$(".css_data_item1").click(function () {  // เมื่อคลิก checkbox  ใดๆ  
				if ($(this).prop("checked") == true) { // ตรวจสอบ property  การ ของ   
					var indexObj = $(this).index(".css_data_item1"); //   
					$(".css_data_item1").not(":eq(" + indexObj + ")").prop("checked", false); // ยกเลิกการคลิก รายการอื่น  
				}
			});
		});  
	</script>
	<script type="text/javascript">
		$(function () {

			$(".css_data_item2").click(function () {  // เมื่อคลิก checkbox  ใดๆ  
				if ($(this).prop("checked") == true) { // ตรวจสอบ property  การ ของ   
					var indexObj = $(this).index(".css_data_item2"); //   
					$(".css_data_item2").not(":eq(" + indexObj + ")").prop("checked", false); // ยกเลิกการคลิก รายการอื่น  
				}
			});
		});  
	</script>
	<script type="text/javascript">
		$(function () {

			$(".css_data_item3").click(function () {  // เมื่อคลิก checkbox  ใดๆ  
				if ($(this).prop("checked") == true) { // ตรวจสอบ property  การ ของ   
					var indexObj = $(this).index(".css_data_item3"); //   
					$(".css_data_item3").not(":eq(" + indexObj + ")").prop("checked", false); // ยกเลิกการคลิก รายการอื่น  
				}
			});
		});  
	</script>
	<script type="text/javascript">
		$(function () {

			$(".css_data_item4").click(function () {  // เมื่อคลิก checkbox  ใดๆ  
				if ($(this).prop("checked") == true) { // ตรวจสอบ property  การ ของ   
					var indexObj = $(this).index(".css_data_item4"); //   
					$(".css_data_item4").not(":eq(" + indexObj + ")").prop("checked", false); // ยกเลิกการคลิก รายการอื่น  
				}
			});
		});  
	</script>
	<script type="text/javascript">
		$(function () {

			$(".css_data_item5").click(function () {  // เมื่อคลิก checkbox  ใดๆ  
				if ($(this).prop("checked") == true) { // ตรวจสอบ property  การ ของ   
					var indexObj = $(this).index(".css_data_item5"); //   
					$(".css_data_item5").not(":eq(" + indexObj + ")").prop("checked", false); // ยกเลิกการคลิก รายการอื่น  
				}
			});
		});  
	</script>
	<script type="text/javascript">
		$(function () {

			$(".css_data_item6").click(function () {  // เมื่อคลิก checkbox  ใดๆ  
				if ($(this).prop("checked") == true) { // ตรวจสอบ property  การ ของ   
					var indexObj = $(this).index(".css_data_item6"); //   
					$(".css_data_item6").not(":eq(" + indexObj + ")").prop("checked", false); // ยกเลิกการคลิก รายการอื่น  
				}
			});
		});  
	</script>
	<script type="text/javascript">
		$(function () {

			$(".css_data_item7").click(function () {  // เมื่อคลิก checkbox  ใดๆ  
				if ($(this).prop("checked") == true) { // ตรวจสอบ property  การ ของ   
					var indexObj = $(this).index(".css_data_item7"); //   
					$(".css_data_item7").not(":eq(" + indexObj + ")").prop("checked", false); // ยกเลิกการคลิก รายการอื่น  
				}
			});
		});  
	</script>
	<script type="text/javascript">
		$(function () {

			$(".css_data_item8").click(function () {  // เมื่อคลิก checkbox  ใดๆ  
				if ($(this).prop("checked") == true) { // ตรวจสอบ property  การ ของ   
					var indexObj = $(this).index(".css_data_item8"); //   
					$(".css_data_item8").not(":eq(" + indexObj + ")").prop("checked", false); // ยกเลิกการคลิก รายการอื่น  
				}
			});
		});  
	</script>
	<script type="text/javascript">
		$(function () {

			$(".css_data_item9").click(function () {  // เมื่อคลิก checkbox  ใดๆ  
				if ($(this).prop("checked") == true) { // ตรวจสอบ property  การ ของ   
					var indexObj = $(this).index(".css_data_item9"); //   
					$(".css_data_item9").not(":eq(" + indexObj + ")").prop("checked", false); // ยกเลิกการคลิก รายการอื่น  
				}
			});
		});  
	</script>
	<script type="text/javascript">
		$(function () {

			$(".css_data_item10").click(function () {  // เมื่อคลิก checkbox  ใดๆ  
				if ($(this).prop("checked") == true) { // ตรวจสอบ property  การ ของ   
					var indexObj = $(this).index(".css_data_item10"); //   
					$(".css_data_item10").not(":eq(" + indexObj + ")").prop("checked", false); // ยกเลิกการคลิก รายการอื่น  
				}
			});
		});  
	</script>
	<script type="text/javascript">
		$(function () {

			$(".css_data_item11").click(function () {  // เมื่อคลิก checkbox  ใดๆ  
				if ($(this).prop("checked") == true) { // ตรวจสอบ property  การ ของ   
					var indexObj = $(this).index(".css_data_item11"); //   
					$(".css_data_item11").not(":eq(" + indexObj + ")").prop("checked", false); // ยกเลิกการคลิก รายการอื่น  
				}
			});
		});  
	</script>
	<script type="text/javascript">
		$(function () {

			$(".css_data_item12").click(function () {  // เมื่อคลิก checkbox  ใดๆ  
				if ($(this).prop("checked") == true) { // ตรวจสอบ property  การ ของ   
					var indexObj = $(this).index(".css_data_item12"); //   
					$(".css_data_item12").not(":eq(" + indexObj + ")").prop("checked", false); // ยกเลิกการคลิก รายการอื่น  
				}
			});
		});  
	</script>
	<script type="text/javascript">
		$(function () {

			$(".css_data_item13").click(function () {  // เมื่อคลิก checkbox  ใดๆ  
				if ($(this).prop("checked") == true) { // ตรวจสอบ property  การ ของ   
					var indexObj = $(this).index(".css_data_item13"); //   
					$(".css_data_item13").not(":eq(" + indexObj + ")").prop("checked", false); // ยกเลิกการคลิก รายการอื่น  
				}
			});
		});  
	</script>
	<script type="text/javascript">
		$(function () {

			$(".css_data_item14").click(function () {  // เมื่อคลิก checkbox  ใดๆ  
				if ($(this).prop("checked") == true) { // ตรวจสอบ property  การ ของ   
					var indexObj = $(this).index(".css_data_item14"); //   
					$(".css_data_item14").not(":eq(" + indexObj + ")").prop("checked", false); // ยกเลิกการคลิก รายการอื่น  
				}
			});
		});  
	</script>
	<script type="text/javascript">
		$(function () {

			$(".css_data_item15").click(function () {  // เมื่อคลิก checkbox  ใดๆ  
				if ($(this).prop("checked") == true) { // ตรวจสอบ property  การ ของ   
					var indexObj = $(this).index(".css_data_item15"); //   
					$(".css_data_item15").not(":eq(" + indexObj + ")").prop("checked", false); // ยกเลิกการคลิก รายการอื่น  
				}
			});
		});  
	</script>
	<script type="text/javascript">
		$(function () {

			$(".css_data_item16").click(function () {  // เมื่อคลิก checkbox  ใดๆ  
				if ($(this).prop("checked") == true) { // ตรวจสอบ property  การ ของ   
					var indexObj = $(this).index(".css_data_item16"); //   
					$(".css_data_item16").not(":eq(" + indexObj + ")").prop("checked", false); // ยกเลิกการคลิก รายการอื่น  
				}
			});
		});  
	</script>
	<script type="text/javascript">
		$(function () {

			$(".css_data_item17").click(function () {  // เมื่อคลิก checkbox  ใดๆ  
				if ($(this).prop("checked") == true) { // ตรวจสอบ property  การ ของ   
					var indexObj = $(this).index(".css_data_item17"); //   
					$(".css_data_item17").not(":eq(" + indexObj + ")").prop("checked", false); // ยกเลิกการคลิก รายการอื่น  
				}
			});
		});  
	</script>

</body>

</html>